.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    width: 100%;
    max-width: 900px;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.inputFloatLabel {
    flex: 1;
    min-width: 200px;
}

.error-message {
    color: #ff0000;
}

.textarea {
    resize: none;
    width: 100%;
    
}

.full-width-input {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

button {
    display: flex;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    justify-content: center;
}
