<div class="container">
    <p-card header="Cadastro de Produto">
        <form class="form-container" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <!-- Campo de Código da Tag RFID movido para o início -->
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <input class="full-width-input" type="text" pInputText id="tagCode" formControlName="tag" (input) = "onTagChange($event)">
                        <label for="tagCode">Código da tag</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('tag')?.errors && productForm.get('tag')?.touched">
                        * O código da tag do produto é obrigatório
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <input class="full-width-input" type="text" id="name" pInputText formControlName="name">
                        <label for="name">Nome do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('name')?.errors && productForm.get('name')?.touched">
                        * O nome do produto é obrigatório
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-dropdown [style]="{width:'100%'}" [options]="categories" [showClear]="true"
                            optionLabel="name" formControlName="category" />
                        <label for="category">Categoria</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('category')?.errors && productForm.get('category')?.touched">
                        * A categoria do produto é obrigatória
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-calendar [style]="{width:'100%'}" id="manufacDate" formControlName="manufacDate"
                            dateFormat="mm.yy" [readonlyInput]="true" [showIcon]="true" [iconDisplay]="'input'" view="month" />
                        <label for="manufacDate">Data de fabricação</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('manufacDate')?.errors && productForm.get('manufacDate')?.touched">
                        * A data de fabricação é obrigatória
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-calendar [style]="{width:'100%'}" id="dueDate" formControlName="dueDate"
                            dateFormat="dd.mm.yy" [readonlyInput]="true" [showIcon]="true" [iconDisplay]="'input'" />
                        <label for="dueDate">Data de vencimento</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('dueDate')?.hasError('required') && productForm.get('dueDate')?.touched">
                        * A data de vencimento é obrigatória
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-dropdown [style]="{width:'100%'}" [options]="packages" optionLabel="name" [showClear]="true"
                            formControlName="packages" />
                        <label for="packages">Tipo de embalagem</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('packages')?.errors && productForm.get('packages')?.touched">
                        * O tipo de embalagem é obrigatório
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" id="weight" [showButtons]="true" [min]="0.01"
                            [minFractionDigits]="2" [maxFractionDigits]="3" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" formControlName="weight" />
                        <label for="weight">Peso do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('weight')?.hasError('required') && productForm.get('weight')?.touched">
                        * O peso do produto é obrigatório
                    </small>
                    <small class="error-message"
                        *ngIf="productForm.get('weight')?.hasError('min') && productForm.get('weight')?.touched">
                        O peso mínimo é 0.01kg
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-dropdown [style]="{width:'100%'}" [options]="unitsOfMeasurement" [showClear]="true"
                            formControlName="unitMeasurement">
                        </p-dropdown>
                        <label for="unitMeasurement">Unidade de medida</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('unitMeasurement')?.errors && productForm.get('unitMeasurement')?.touched">
                        * A unidade de medida é obrigatória
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <input type="text" pInputText formControlName="batchNumber" id="batchNumber"
                            class="full-width-input">
                        <label for="batchNumber">Nº de lote</label>
                    </p-floatLabel>
                   
                </div>
            </div>
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" [showButtons]="true" suffix="cm" [min]="0.1"
                            [minFractionDigits]="1" [maxFractionDigits]="2" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" id="height" formControlName="height" />
                        <label for="height">Altura do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('height')?.hasError('required') && productForm.get('height')?.touched">
                        * A altura do produto é obrigatório
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" [showButtons]="true" suffix="cm" [min]="0.1"
                            [minFractionDigits]="1" [maxFractionDigits]="2" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" id="width" formControlName="width" />
                        <label for="width">Largura do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('width')?.hasError('required') && productForm.get('width')?.touched">
                        * A largura do produto é obrigatório
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" [showButtons]="true" suffix="cm" [min]="0.1"
                            [minFractionDigits]="1" [maxFractionDigits]="2" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" id="length" formControlName="length" />
                        <label for="length">Comprimento do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('length')?.hasError('required') && productForm.get('length')?.touched">
                        * O comprimento do produto é obrigatório
                    </small>
                </div>
            </div>


            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" [showButtons]="true" mode="currency" currency="BRL"
                            [min]="0" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" id="price" formControlName="price" />
                        <label for="price">Preço do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
                        * O preço do produto é obrigatório
                    </small>
                </div>
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-inputNumber [style]="{width:'100%'}" id="quantity" mode="decimal" [showButtons]="true"
                            [min]="0" incrementButtonClass="p-button-secondary"
                            decrementButtonClass="p-button-secondary" formControlName="quantity" />
                        <label for="quantity">Quantidade</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('quantity')?.errors && productForm.get('quantity')?.touched">
                        * A quantidade do produto é obrigatória
                    </small>
                </div>


                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <p-dropdown [style]="{width:'100%'}" [options]="suppliers" [showClear]="true" optionLabel="name"
                            formControlName="supplier" />
                        <label for="supplier">Fornecedor</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('supplier')?.errors && productForm.get('supplier')?.touched">
                        * O fornecedor do produto é obrigatório
                    </small>
                </div>
            </div>
            <div class="row">
                <div >
                    <label for="image">Faça upload da imagem do Produto</label>
                </div>
            </div>
            
           
            
            <div class="row"> <!-- Nova linha para o componente de upload -->
                <div class="inputFloatLabel">
                    <div class="file-upload-container"> <!-- Classe para centralizar -->
                        <p-fileUpload 
                        
                            name="image" 
                            accept="image/*" 
                            mode="advanced" 
                            (onSelect)="onFileSelect($event)"
                            (onRemove)="onFileRemove($event)"
                            chooseLabel="Escolher Imagem"
                            [showUploadButton]="false"
                            [showCancelButton]="false"> 
                        </p-fileUpload>
                    </div>
            
                    <small class="error-message"
                        *ngIf="productForm.get('description')?.errors && productForm.get('description')?.touched">
                        * A imagem do produto é obrigatória
                    </small>
                </div>
            </div>
            
            
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <textarea id="description" class="textarea" rows="5" cols="50" pInputTextarea
                            formControlName="description"></textarea>
                        <label for="description">Descrição do produto</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="productForm.get('description')?.errors && productForm.get('description')?.touched">
                        * A descrição do produto é obrigatória
                    </small>
                </div>
            </div>
            <div class="row">
                <p-button label="Cadastrar" type="submit" [disabled]="productForm.invalid">
                </p-button>
                
            </div>
        </form>
    </p-card>
    <p-toast></p-toast>
</div>
