.productDetails {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.confirmDialogButton {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2.5rem;
}

.search-input {
    display: flex;
}

.input-icon {
    margin-left: auto;
}

.table-column-header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
}

.table-column-value {
    display: flex;
    justify-content: center;
}