<div class="container" >
    <p-card header="Cadastro de Embalagem" headerStyle="text-align: center;" >
        <form class="form-container" [formGroup]="packagingForm" (ngSubmit)="postPackaging()">
            <div class="row">
                <div class="inputFloatLabel">
                    <p-floatLabel>
                        <input pInputText id="name" formControlName="name">
                        <label for="name">Tipo de embalagem</label>
                    </p-floatLabel>
                    <small class="error-message"
                        *ngIf="packagingForm.get('name')?.hasError('required') && packagingForm.get('name')?.touched">
                        * O nome do tipo de embalagem é obrigatório
                    </small>
                </div>
            </div>
            <div class="row">
                <p-button label="Cadastrar" type="submit" [disabled]="packagingForm.invalid">
                </p-button>
                

            </div>
        </form>
    </p-card>
    <p-toast></p-toast>
</div>
