.error-message {
    color: #ff0000;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 60vh;
    min-width: 162vh;
   
    
        
   
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: flex-start; /* Alinha os itens ao topo */
}

.inputFloatLabel {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    justify-content: center;
     
}

