<p-card header="Histórico de Leituras">
    <p-table
    #table
    [value]="readings"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [tableStyle]="{ 'min-width': '162vh', 'min-height': '40vh', 'vertical-align': 'top' }"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="readoutDate" style="width: 50%;">
                    <div class="table-column-header">
                        Data e Hora
                        <i [ngClass]="sortIconClass('readoutDate')"></i>    
                    </div>
                </th>
                <th pSortableColumn="tags.length" style="width: 25%;">
                    <div class="table-column-header">
                        Quant. de Produtos
                        <i [ngClass]="sortIconClass('tags.length')"></i>
                    </div>
                </th>
                <th style="width: 5%;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-readout>
            <tr>
                <td>{{ formatDateTime(readout.readoutDate) }}</td>
                <td>{{ readout.tags.length }}</td>
                <td>
                    <p-button 
                    icon="pi pi-eye"
                    [rounded]="true"
                    [text]="true"
                    pTooltip="Visualizar produtos"
                    tooltipPosition="bottom"
                    (onClick)="setSelectedReadout(readout);"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3" >Nenhuma leitura encontrada.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>